{% extends "layout.html" %}

{% block content %}

<div></div>
 <div class="jumbotron">
     <h1>Login required</h1>
     <p class="lead">Login with <a href="https://www.blender.org/id">Blender ID</a> to manage your benchmarks.</p>
     <a href="{% url "social:begin" "blender-id-oauth2" %}" class="btn btn-lg btn-primary">Login</a>

 </div>

{% endblock %}

