<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Blender Mydata</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Benchmarks <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
            <div>
                {% if not user.is_authenticated %}
                    <a href="{% url "social:begin" "blender-id-oauth2" %}"
                        class="btn btn-primary my-2 my-sm-0">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

