{% extends "layout.html" %}

{% block content %}
{{ block.super }}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your Benchmarks</span>
                </h4>

                <table class="table table-striped benchmark-table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Time</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in items %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.date_created|date:"jS F Y H:i" }}</td>
                        <td class="">
                            <a class="btn btn-outline-danger" href="/benchmarks/delete/{{ item.id }}">Delete</a>
                            <a class="btn btn-primary" target="_blank"
                               href="{{ show_url }}/{{ item.benchmark_id }}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

